* text=auto eol=lf
*.sops.* diff=sopsdiffer
*.yml linguist-detectable linguist-language=YAML
*.yaml linguist-detectable linguist-language=YAML
*.yaml.j2 linguist-detectable linguist-language=YAML
*.json linguist-detectable linguist-language=JSON
*.json5 linguist-detectable linguist-language=JSON5
*.sh linguist-detectable linguist-language=SHELL
*.md linguist-detectable linguist-language=MARKDOWN
