---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ NAMESPACE }}
components:
  - ../../components/{{ COMPONENT_TYPE }}
resources:
  - ./{{ APP_NAME }}/ks.yaml
