tentacle:
  hosts:
    okapi:
      ansible_host: 10.10.0.19
      ansible_user: root
    lich:
      ansible_host: 10.10.0.20
      ansible_user: root
    selune:
      ansible_host: 10.10.0.22
      ansible_user: root
    tars:
      ansible_host: 10.10.0.23
      ansible_user: root

proxmox:
  children:
    tentacle:
    forbidden:
