---
zfs-localpv:
  enabled: false
lvm-localpv:
  enabled: false
engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
    jiva:
      enabled: false
    cstor:
      enabled: false
loki:
  enabled: false
alloy:
  enabled: false
minio:
  enabled: false

localpv-provisioner:
  analytics: false
  enabled: true
  helperPod:
    image:
      registry: quay.io
  hostpathClass:
    enabled: true
    name: openebs-hostpath
    isDefaultClass: false
    basePath: /var/mnt/local-hostpath
    reclaimPolicy: Delete
    rbac:
      create: true
  openebs-crds:
    csi:
      volumeSnapshots:
        enabled: false
        keep: false
  preUpgradeHook:
    enabled: false
