---
apiserver_endpoint: "10.0.0.10" # kube-vip apiserver endpoint configured on each master, works use SERVER_ADDRESS_FQDN
METALLB_IP_RANGE: "10.0.0.11-10.0.0.20" # metallb ip range for load balancer
traefik_loadBalancerIP: "10.0.0.11" # traefik load balancer ip, must be be within metallb ip range
ROOT_DOMAIN: "example.internal" # ROOT_DOMAIN upon which records are added. For example: if ROOT_DOMAIN was example.com then SERVICE.ROOT_DOMAIN could result in rancher.example.com
SERVER_ADDRESS_FQDN: "vip.example.internal" # FQDN pointed to failover floating IP (w.x.y.z), change with yours.
controlplane_group: controlplane # anisble group name for controlplanes
